body {
    margin: 0;
    padding: 0;
}

#book_pane {
    float: left;
    width: 60%;
    display: inline;
    padding-right: 10px;
    border-right: solid 5px #ddd;
}

#info_pane {
    float: left:
    width: 60%;
    display: inline;
    position: fixed;
    left: 65%;
    height: 100%;
}

#comment_form {
    position: fixed;
    top: 8%;
    left: 60%;
    width: 30%;
    background: rgba(1, 162, 166, 0.8);
    display: none;
}

.highlight {
    background: red;
}

h1 {
    background: #aaa;
    padding: 20px;
    width: 100%;
    margin: 0;
    color: white;
}

#book_feed {
    list-style-type: none;
    width: 90%;
}

#book_feed li {
    background: rgb(255, 255, 166);
    padding: 10px;
    border-top: solid 1px #ddd;
    width: 100%;
}

#username, #backtolib {
    text-align: right;
    width: 100%;
    display: inline;
}

.p_controls {
    display: none;
    float: right;
}

.current_para {
    background: rgb(255, 255, 166);
}

#videolayer {
    display: none;
    position: absolute;
    left: 60%;
    top: 9%;
}
