<!DOCTYPE html5>
<html>
    <head>
        <title>Reading {{ info['title'] }}</title>
        <script src="{{ url_for('static', filename="scripts/prototype.js") }}"> </script>
        <script src="{{ url_for('static', filename="scripts/emphasis-src.js") }}"> </script>
        <link href="{{ url_for('static', filename="styles/book-view.css") }}" type="text/css" rel="stylesheet"> </link>
        <script src="{{ url_for('static', filename="scripts/book-view.js") }}"> </script>
    </head>
    <body>
        <h1>{{ info['title'] }} by {{ info['author'] }}</h1>
        <div id="book_pane">
            <div id="the_book">
                {{ book_content|safe }}
            </div>
        </div>

        <div id="info_pane">
            <p id="username">Welcome <a href="/user/{{ username }}">{{ username }}</a></p>
            <ul id="book_feed">
            </ul>
        </div>

        <div id="comment_form">
            <form id="comment_form_form" method="POST" action="/api/book/comments">
                <textarea rows="7" cols="40" name="comment_text"></textarea>
                    <input type="submit" id="comment_form_submit"></input>
            </form>
            <a href="#" onclick="$('comment_form').hide()">Close</a>
        </div>

        <div id="videolayer">
            <iframe title="YouTube video player" class="youtube-player" type="text/html" width="480" height="390" src="http://www.youtube.com/embed/29mq1Bn52GY" frameborder="0" allowFullScreen></iframe>
            <a href="#" onclick="this.parentNode.style.display = 'none'; return false;">Close</a>
        </div>
    </body>
</html>
